<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../CodeCss/main.css">
    <title>Portfolio</title>
</head>
<body>
    <div class="container-header">
        <h2>Entete de mon Portfolio</h2>
    </div>
  
    <div class="container-texte"> 
        <div class="logo"></div> <br>
        <p>
            Je suis un texte descriptif Je suis un texte descriptif
            Je suis un texte descriptif Je suis un texte descriptif
            Je suis un texte descriptif Je suis un texte descriptif
            Je suis un texte descriptif Je suis un texte descriptif
            Je suis un texte descriptif Je suis un texte descriptif
            Je suis un texte descriptif Je suis un texte descriptif 
        </p>
        <hr class="Slogo"> <br>
        <p>logo Numero Telephone</p> <br>
        <p>logo Email</p> <br>
        <p>logo Adresse</p> <br>
        <hr class="Slogo">
    </div>

    <div class="container-info"> 
        <h2 class="info">Formation</h2> 
        <div class="form">
            <div class="date">
                <p>Date1</p>
                <p>Date2</p>
                <p>Date3</p>
            </div>
            <div class="libele">
                <p>libelé1</p>
                <p>libelé2</p>
                <p>libelé3</p>
            </div>  
        </div>
       
        <hr class="Sinfo">
        <h2 class="info">Expérience Professionnel</h2>
    </div>
</body>
</html>